body, html {
    height: 100%;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    background-image: url('scrolling-images/scroll-testing0001.png');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    background-color: #464646;

}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



.image-container {
    width: 50%;
    height: 0;
    padding-top: 31%;
    padding-bottom: 39%;
    padding-right: 31%;

}